@import '../../../../assets/palette.css';
@import '../../../../assets/variables.css';

.tickets-container {
  font-family: var(--font-family);
  font-weight: var(--font-weight-standard);
  background-color: var(--container-background-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
