:global {
  @import '../../../../assets/palette.css';
}

.price-tile {
    height: 80px;
    width: 120px;
    display: flex;

    font-size: var(--font-size-title-small);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: var(--global-component-margin);
    border-radius: var(--control-border-radius);
    color: var(--text-color-standard);
    background-color: var(--component-background-color-dark);
  }

  .price-title {
    text-transform: uppercase;
    color: var(--text-color-subtle);
  }

  .buy:hover {
    color: var(--buy-color);
    background-color: var(--hover-color);
    font-weight: var(--font-weight-heavy);
    cursor: pointer;
  }

  .sell:hover {
    color: var(--sell-color);
    background-color: var(--hover-color);
    font-weight: var(--font-weight-heavy);
    cursor: pointer;
  }
  .change-up {
    color: var(--up-color);
  }
  .change-down {
    color:  var(--down-color);
  }
