
.ticket {
  background-color: #333333;
  color: lightgray;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
}

.ticket-prices {
  display: flex;
  flex-direction: row;
}

.price-tile {
  height: 120px;
  width: 120px;
  display: flex;

  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 5px;
  border-radius: 4px;
  color: whitesmoke;
}
.price-title {
  text-transform: uppercase;
  color: #999999
}

.buy {
  background-color: #444444;
}
.buy:hover {
  color: green;
  background-color: #121212;
  font-weight: 700;
}
.sell {
  background-color: #444444;
}
.sell:hover {
  color: red;
  background-color: #121212;
  font-weight: 700;
}
.change-up {
  color: rgba(12,113,10,1);
}
.change-down {
  color:  rgba(144,1,9,1);
}
